* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #05000f;
    color: white;
}


/* Top Hero */
.hero-header {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(135deg, #5b00ff, #120024);
}

.hero-header h1 {
    font-size: 70px;
    margin-bottom: 15px;
}

.hero-header p {
    font-size: 24px;
    margin-bottom: 30px;
}

button {
    background: #8c2cff;
    color: white;
    border: none;
    padding: 15px 35px;
    border-radius: 12px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
}


/* Event */
.featured {
    text-align: center;
    padding: 50px;
}

.event-card {
    background: #160033;
    width: 70%;
    margin: 25px auto;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 0 25px #6c2cff;
}

.event-card h3 {
    font-size: 35px;
}


/* Cards */
.cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 40px;
}

.card {
    background: #14002e;
    width: 280px;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px #8c2cff;
}


/* Tables */
.table-section,
.converter {
    width: 85%;
    margin: 40px auto;
    background: #100024;
    padding: 35px;
    border-radius: 20px;
}


table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}


th {
    background: #8c2cff;
}


td, th {
    padding: 18px;
    text-align: center;
}


/* Converter */
select {
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    font-size: 16px;
}


/* Footer */
footer {
    text-align: center;
    padding: 30px;
    background: #100024;
}
